.my-textfield{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: #979797;
    border: thin solid #cccccc;
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.my-textfield>input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    
}
.my-textfield>svg{
    width: 20px;
    height: 20px;
    fill: #979797;
    cursor: pointer;
}